form{
    background: #7fc7f0;
    width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 4%;
    font-family: serif;
}
form input{
    background: #F4F5F7;
}

form h1{
    text-align: center;
}

form p{
    text-align: start;
}
form p input{
    text-align: center;
}